@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&&family=Patrick+Hand&display=swap&&family=PT+Sans:wght@700&display=swap');

html, body {
    height : 100%;
    background-color: #eccea5;
    margin : 0;
}

#title {
    color : #995756;
    font-size: 60px;
    padding-left : 10px;
    margin-top : 3%;
    margin-left: 3%;
    font-family: 'Bebas Neue';
}

main {
    margin-left: 7%;
}

.empty-msg{
    font-family: 'Patrick Hand',cursive;
    font-size: 20px;
}

#date {
    font-size: 25px;
    font-family: 'Bebas Neue';
}

#list {
    display : grid;
    grid-template-columns: 10% 90%;
    align-items: baseline;
    font-size: 20px;
    font-family: 'Patrick Hand',cursive;
    list-style: none;
    width : 90%;
    padding-left : 5%;
}

li {
    padding-top: 2%;
    padding-bottom : 2%;
    padding-left: 2%;
    margin-bottom: 2%;
    background-color:rgb(250 250 248 / 31%);
    border-bottom: 1px solid black;
}

footer {
    display:flex;
    position: fixed;
    bottom: 5%;
    width:100%;
    justify-content: center;
}

#userinput{
    width: 70%;
    padding: 2%;
    font-family: 'Patrick Hand',cursive;
    font-size: 20px;
}

#new-task-btn{
    background-color: palevioletred;
    color : white;
    font-family: 'Patrick Hand',cursive;
    font-weight: bold;
    font-size: 20px;
    margin-right: 2%;
    width: 20%;
    box-shadow: 1px 1px;
}

form {
    margin-left: 7%;
    background-color: palevioletred;
    padding: 3%;
    height: auto;
    width: 75%;
    border: 2px solid white;
    box-shadow: 2px 2px 8px;
}

.form-input{
    margin-bottom: 10%;
    font-family: 'Patrick Hand',cursive;
    font-weight: bold;
    font-size: 20px;
    padding: 3%;
    width: 90%;
}

#choose-priority{
    font-family: 'Patrick Hand',cursive;
    font-weight: bold;
    font-size: 20px;
    color: white
}

input[type="radio"]{
    display: none;
}

input[type="radio"] ~ label{
    border: 2px solid white;
    font-size: 20px;
    font-family: 'Patrick Hand',cursive;
    font-weight: bold;
    padding: 2% 8% 2% 8%;
    margin-left: 3%;
    background-color: white;
}

#high-priority:checked + label{
    background-color: #f44336;
    color:white;
}

#medium-priority:checked + label{
    background-color: #ffdf00;
    color:white;
}

#low-priority:checked + label{
    background-color: #008CBA;
    color:white;
}

#submit-btn{
    width: 100%;
    margin-top: 30%;
    padding: 5%;
    font-size: 20px;
    color:white;
    background-color: #a94064;
    font-size: 20px;
    font-family: 'Patrick Hand',cursive;
    font-weight: bold;
}   