@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Futura;
    src: url(futura-pt-book.otf);
}

html, body {
    height : 100%;
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f1bfc7 74%);
    margin : 0;
}

#title {
    color: white;
    font-size: 60px;
    padding-left : 10px;
    margin-top : 3%;
    margin-left: 3%;
    font-family: 'Bebas Neue';
    margin-bottom: 2%;
    margin-left: 0; 
    background-color: rgba(184, 54, 76, 0.747);
    box-shadow: 0px 4px 10px hsl(0deg 0% 0% / 1);
}

main {
    padding-left: 5%;
    padding-right: 1%;
    max-height: 80%;
    overflow-y: scroll;
}

.empty-msg{
    font-family: Futura,sans-serif;
    font-size: 20px;
}

#date {
    font-size: 25px;
    font-family: 'Bebas Neue';
    color: black;
}

#list {
    display : grid;
    grid-template-columns: 10% 90%;
    align-items: baseline;
    font-size: 20px;
    font-family: Futura,sans-serif;
    list-style: none;
    width : 90%;
    padding-left : 5%;
}

li {
    padding-top: 3%;
    padding-bottom : 3%;
    padding-left: 5%;
    margin-bottom: 2%;
    background-color: #bd4f6c;
    background-image: linear-gradient(326deg, #d17b92 0%, #d67155 74%);
    box-shadow: 5px 10px 8px hsl(0deg 0% 0% / 0.2);
    color: white;
}

li[priority="high"]{
}

li[priority="medium"]{
}

li[priority="low"]{
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    margin: 0;
    align-self: center;
}

footer {
    display:flex;
    position: fixed;
    bottom: 1%;
    width:100%;
    justify-content: center;
}

#userinput{
    width: 68%;
    padding: 3%;
    margin-right: 2%;
    font-family: Futura,sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 1px 2px 4px hsl(0deg 0% 0% / 1);
    background-color: #e6846f;
    outline: none;
    color: wheat;
}

#userinput::placeholder{
    color: wheat;
    opacity: 0.8;
}

#new-task-btn{
    background-color: #a94064;
    color : white;
    font-family: Futura,sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 20%;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 4px 5px hsl(0deg 0% 0% / 1);
}

form {
    margin-left: 7%;
    margin-top: 10%;
    background-color: #eea594;
    padding: 5%;
    height: 70%;
    width: 75%;
    box-shadow: 3px 6px 20px hsl(0deg 0% 0% / 0.6);
}

.form-input{
    margin-bottom: 10%;
    font-family: Futura,sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 4%;
    width: 90%;
    border-radius: 10px;
    border: 0px;
    outline: none;
    background-color: #e6846f;
    color: wheat
}

::placeholder{
    color:wheat;
    opacity: 0.6;
}

#choose-priority{
    font-family: Futura,sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #a94064;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] ~ label{
    border: 2px solid white;
    font-size: 20px;
    font-family: Futura,sans-serif;
    font-weight: bold;
    padding: 2% 8% 2% 8%;
    margin-left: 1.5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 4px 5px hsl(0deg 0% 0% / 1);
}

#high-priority:checked + label{
    background-color: #f44336;
    color:white;
}

#medium-priority:checked + label{
    background-color: #ffdf00;
    color:white;
}

#low-priority:checked + label{
    background-color: #008CBA;
    color:white;
}

#submit-btn{
    width: 100%;
    margin-top: 40%;
    padding: 5%;
    font-size: 20px;
    color:white;
    background-color: #a94064;
    font-size: 20px;
    font-family: Futura,sans-serif;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 2px 4px 5px hsl(0deg 0% 0% / 1);
    border: 0px;  
}   